.img-container{
    width: 200px;
    height: 350px;
    img {
        width: 100%;
    }
}

.show-img-container {
    width: 400px;
    height: 600px;
    margin-bottom: 2rem;
    img{
        width: 100%;
    }
}
